/************************************************/
/*     Salon voor Radicale Middelmatigheid      */
/************************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: #ecf0f1;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    font-weight: 300;
}

/* ---------------------- */

/* typography */

h1, h2, h3, h4 {
    font-family: 'Skolar Italic', 'Roboto Slab', 'Helvetica Neue', Helvetica, "pragmatica-web", Arial, sans-serif;
    letter-spacing: -0.04em;
    color: #c0392b;
    font-weight: 500;
    line-height: 1em;
}

h1 {
    font-size: 5em;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 10px solid rgba(136, 136, 136, 0.3);

}
h2 {
    font-size: 3em;
    text-align: center;    
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(136, 136, 136, 0.3);
}
h3 {
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, "pragmatica-web", Arial, sans-serif;
    font-size: 2em;
}
h4 {
    font-size: 1.6em;
    color: #2c3e50;
}

blockquote {
    font-family: 'ff-meta-serif-web-pro', Georgia, Times, "Times New Roman", serif;
    font-size: 2em;
    line-height: 1em;
    letter-spacing: -0.05em;
    font-weight: normal;
    margin: 1em 0 .5em 0;
    color: #c0392b
}

p {
    font-size: 1em;
    color: #333;
}

p.quote {
    font-family: 'Skolar Italic', 'ff-meta-serif-web-pro', Georgia, Times, "Times New Roman", serif;
    color: #333;
    font-size: 1.1em;
}
p.bron {
    font-style: italic;
    color: #95a5a6;
    font-size: .8em;
    padding: 1em;
    border-top: 1px solid rgba(136, 136, 136, 0.3);
}

a {
    border-bottom: 1px solid rgba(136, 136, 136, 0.3);
    color: #27ae60;
    text-decoration: none;
}
a:hover {
    color: #2ecc71;
}
ul, ol {
    margin: 2em auto;
}
ol.inhoud {
    text-align: center;
    color: #95a5a6;
}
li {
    border-bottom: 1px solid rgba(136, 136, 136, 0.3);
    margin-bottom: 0.4em;
    padding-bottom: 0.4em;
}
 li:last-child {
    border: medium none;
    margin-bottom: 0;
    padding-bottom: 0;
}
ol.inhoud li {
    border-bottom: 0px;
}
/* ---------------------- */

/* lay-out */

section {
    margin: 6em auto;
    padding-bottom: 5em;
    background: url('../img/adw.png') no-repeat center bottom;
}

.story-content {
    margin: 0 auto;
}

.site-width {
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
}

.copy-width {
    width: 82%;
    margin: 0 auto;
}

iframe {
    margin: 2em auto;
}

/* ---------------------- */

/* sections */

.aanhef {
    margin-top: 0;
    background: #c0392b;
    padding-top: 6em;

}

.aanhef h1 {
    line-height: 1em;
    margin-bottom: 0px;
    padding-top: .3em;
    border-top: 0px #c0392b solid;
    padding-bottom: .3em;
    border-bottom: 0px #2980b9 solid;
}

.aanhef p {
    color: #ecf0f1;
    text-align: center;
}
.aanhef a {
    border-bottom: 1px solid #f39c12;
    color: #f1c40f;
    text-decoration: none;
}
.aanhef a:hover {
    color: #f39c12;
}

.lead h1{
    font-size: 7em;
    margin-bottom: 0;
}
.lead h1.bald {
    border-bottom: none;
    margin-top: 0;
    font-size: 5em;
}

.footer {
    background: #34495e;
    padding: 6em;
    margin: 0;
}
.footer p{
    color: #ecf0f1;
    font-size: 0.8em;
}

/* ---------------------- */

/* icons */

.pamflet {
    background: url("https://31.media.tumblr.com/920800e5a9543d97eb18a00653c40772/tumblr_inline_n079t0Gxep1raxvhp.png") no-repeat scroll left center / 18px auto rgba(0, 0, 0, 0);
    padding-left: 35px;
}